:host {

    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .overlay-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: white;

        mat-spinner {
            position: absolute;
            left: calc(50% - 50px);
            top: 33%;
        }
    }

    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 99%;
        border-bottom: solid 1px lightgrey;

        .header {
            padding-left: 12px;
            height: 48px;
            line-height: 48px;
            font-size: 22px;
        }
    }


    .pos-body {
        background-color: white;
        height: calc(100vh - 123px);
        width: 100%;
        overflow: hidden;


        .left-pane {

            border-right: 1px solid lightgray;
            max-width: 430px;

            .body {
                position: relative;
                height: calc(100vh - 123px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .view {
                    position: relative;
                    width: 100%;

                    .order {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 72px;
                        padding: 0.75rem;
                        background-color: #3f51b5;
                        color: white;

                        h2 {
                            color: white;
                        }

                        .total {
                            display: flex;
                            flex-direction: column;
                            margin-left: auto;

                            @media only screen and (max-width: 1500px) {
                                width: 100%;
                            }

                            .total {
                                font-weight: bold;
                                font-size: 1.25rem;
                                overflow: auto;
                                color: white;
                            }

                            .remaining {
                                color: white;
                            }
                        }

                        .mat-mini-fab {
                            box-shadow: none;
                            margin-left: 0.25rem;
                            &::ng-deep .mat-button-wrapper{
                                padding: 0;
                            }
                        }
                    }

                    .payments {
                        height: 42vh;
                        overflow: auto;

                        @media only screen and (max-width: 1500px) {
                            height: 40vh;
                        }

                        @media only screen and (max-width: 1350px) {
                            height: 35vh;
                        }

                        &::-webkit-scrollbar {
                            width: 6px;
                            overflow-y: scroll;
                            background: transparent;

                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--mdc-theme-primary, #6200ee);
                            border-radius: 10px;
                        }                        
                    }

                    .order-lines {
                        position: absolute;
                        top: 72px;
                        left: 0;
                        width: 100%;
                        height: 42vh;
                        overflow: auto;
                        background-color: white;
                        padding: 25px 15px 0 15px;

                        @media only screen and (max-width: 1500px) {
                            height: 40vh;
                        }

                        @media only screen and (max-width: 1350px) {
                            height: 35vh;
                        }

                        &::-webkit-scrollbar {
                            width: 6px;
                            overflow-y: scroll;
                            background: transparent;

                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--mdc-theme-primary, #6200ee);
                            border-radius: 10px;
                        }
                        .close-button {
                            position: absolute;
                            top: 10px;
                            right: 5px;
                        }
                    }
                }
            }
        }


        .right-pane {
            width: 100%;

            mat-tab-group {

                ::ng-deep .mat-tab-body-wrapper {
                    width: 100%;
                    height: calc(100vh - 200px);
                }
                
                ::ng-deep .mat-tab-body-content {
                    &::-webkit-scrollbar {
                        width: 6px;
                        overflow-y: scroll;
                        background: transparent;

                    }

                    &::-webkit-scrollbar-thumb {
                        background: var(--mdc-theme-primary, #6200ee);
                        border-radius: 10px;
                    }
                }
            }

            .ticket {
                width: 99%;
                background-color: lightgray;
                display: flex;
                justify-content:space-evenly;
                flex-direction: column;
                align-items: center;
                margin: 5px;
                padding: 10px;
            }

            ::ng-deep .mat-tab-labels {
                height: 72px;
                font-size: 1.5rem;
            }

            ::ng-deep .mat-tab-label {
                font-size: 1.5rem;
                font-weight: 100;
                height: 100%
            }

            ::ng-deep .mat-tab-label-active {
                opacity: 1;
            }


            .filter-input {
                margin-left: 50px;

                ::ng-deep .mat-form-field-wrapper {
                    padding-bottom: 15px;
                }
            }

            .mat-table {
                .mat-column-name {
                    font-size: 24px;
                }

                .mat-column-price {
                    font-size: 24px;
                }

                .mat-column-qty {
                    font-size: 24px;
                }
            }

            .validate-button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 40px;

                button {
                    transform: scale(1.5);
                    margin-left: 45px;
                    margin-top: 16px;
                    text-transform: uppercase;
                }
            }
        }
    }



}