<section class="module scrollbar-style">
    <app-top-bar>
        <ng-container ngProjectAs="[actions]">
            <button mat-raised-button (click)="navigateToEditMode()" color="primary">Edit</button>
            <a *ngIf="hasCourseAccess" mat-raised-button [color]="'accent'" [href]="courseTitle">Poursuivre le cours</a>
        </ng-container>
    </app-top-bar>
    <div class="container">
        <div class="details" *ngIf="module">
            <div class="left">
                <eq-string
                    [title]="'Module title'"
                    [hint]="'Title of the module'"
                    [value]="module.title"
                    [mode]="'view'"
                    [size]="'large'"
                    [required]="true">
                </eq-string>
                <eq-text
                    [title]="'Module description'"
                    [hint]="'Description of the module'"
                    [value]="module.description"
                    [mode]="'view'"
                    [size]="'normal'"
                    [required]="true"
                    [autoGrow]="true"
                    [minHeight]="88">
                </eq-text>
            </div>

            <div class="right">
                <div class="additional-information mat-elevation-z3">
                    <span class="last-update" title="Last modification date">
                        <mat-icon>schedule</mat-icon>
                        <span> {{ module.modified | date: 'shortDate' }}</span>
                    </span>

                    <div class="author" title="Author">
                        <mat-icon>person</mat-icon>
                        <span>{{ author }}</span>
                    </div>

                    <div class="lessons-count" title="Lessons count">
                        <mat-icon>bookmark</mat-icon>
                        <span>{{ module.chapters?.length }}</span>
                    </div>

                    <div class="learning-time" title="Learning time">
                        <mat-icon>timer</mat-icon>
                        <span>{{ formatDuration(module.duration) }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" *ngIf="module.chapters && module.chapters.length > 0">
            <h3 class="title text__course__title">Lessons in this module</h3>

            <app-course-module-lesson-list-item></app-course-module-lesson-list-item>
        </div>
    </div>
</section>
