<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
            Parameters
        </ng-template>
        <div class="edit-panel scrollbar-style">Hello</div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>account_tree</mat-icon>
            Tree
        </ng-template>
        <div class="edit-panel scrollbar-style">
            <div cdkDropList (cdkDropListDropped)="onDrop($event)" class="drop-list">
                <div cdkDrag class="item" *ngFor="let lesson of lessons; trackBy: trackLessonById">
                    <div class="drag">
                        <mat-icon class="icon">drag_handle</mat-icon>
                    </div>
                    <div class="content">
                        <h4 class="title">{{ lesson.title }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>public</mat-icon>
            SEO
        </ng-template>
        <div class="edit-panel scrollbar-style">!!!</div>
    </mat-tab>
</mat-tab-group>
