<div class="cell" style="width: 330px;">

    <sb-m2o-select
        [entity]="'sale\\customer\\AgeRange'"
        [id]="instance.age_range_id"
        [placeholder]="'Commencez à taper le nom'"
        [noResult]="'rien trouvé'"
        [required]="true"
        (itemSelected)="onupdateAgeRange($event)">Tranche d'âge
    </sb-m2o-select>

</div>

<div class="cell">
    <mat-form-field style="max-width: 100px;">
        <mat-label>Quantité</mat-label>
        <input type="number" min="1" matInput (blur)="onupdateQty()" [formControl]="vm.qty.formControl">
        <mat-error *ngIf="vm.qty.formControl.hasError('valid')">
            Quantité incompatible.
        </mat-error>
        <mat-error *ngIf="vm.qty.formControl.hasError('required')">
            Ne peut être vide.
        </mat-error>
    </mat-form-field>
</div>
