<div *ngIf="lower_screen_resolution" style="padding: 20px; height: 100vh;">
    <!--
    <p>Non supported resolution<p>
    <p>Minimum supported resolution is 1152px, recommanded resolution is 1280px or higher<p>
    <p>To allow the display the App, try increasing the resolution by using the zoom out feature of your browser as illustrated below</p>
    -->
    <p>Résolution non supportée<p>
    <p>La résolution minimale supportée est 1152px, la résolution recommandée est de 1280px ou plus élevé.<p>
    <p>Pour permettre l'affichage de l'Application, essayez d'augmenter la résolution en utilisant la fonctionnalité zoom de vorte navigateur, comme illustré ci-dessous.</p>

    <img src="/assets/img/low_resolution.png" style="width: 100%; object-fit: contain;" />
</div>
<div *ngIf="!lower_screen_resolution" class="container">
    <div class="app-header">
        <app-header [section]="'Réservations'"
                    [i18n]="translationsMenuTop"
                    [items]="topMenuItems"
                    [action]="'Nouvelle réservation'"
                    (toggleMenu)="toggleSideMenu()"
                    (toggleBar)="toggleSideBar()"
                    (select)="onSelectItem($event)" 
                    (onAction)="onAction()">
        </app-header>
    </div>
    <div class="app-body">

        <div class="app-sidebar"  [class.show]="show_side_bar">
            <!-- app-sidebar -->
            <div class="side-inner">
                <mat-nav-list>
                    <app-menu-list-item *ngFor="let item of navMenuItems"
                        [i18n]="translationsMenuLeft"
                        [class.hidden]="item.hidden"
                        [item]="item"
                        (select)="onSelectItem($event)"
                        (toggle)="onToggleItem($event)"></app-menu-list-item>
                </mat-nav-list>
            </div>
        </div>

        <div class="app-main">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>

        <div class="app-asidemenu" [class.show]="show_side_menu">
            <app-sidemenu (updated)="onUpdateSideMenu($event)"></app-sidemenu>
        </div>

    </div>
</div>