:host {

    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    

    ::ng-deep quill-editor .ql-container {
        height: 200px !important;
        font-size: 15px;
    }

    mat-form-field {
        width: 100%;
    }

    .hidden {
        display: none !important;
    }
    
    .container {
        position: relative;
        height: 100%;
        width: 100%;

        .loader {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0, 0.1);
            z-index: 2;

            mat-spinner {
                position: absolute;
                top: calc(50% - 50px);
                left: calc(50% - 50px);
            }
        }

        .header {
            width: 100%;
            padding-left: 12px;
            height: 48px;
            line-height: 48px;
            border-bottom: solid 1px lightgrey;
            font-size: 24px;

            .header-inner {
                overflow: hidden;
                max-height: 48px;
                text-overflow: ellipsis;
                padding-right: 150px;

                a {
                    color: var(--mdc-theme-primary);
                    text-decoration: none;
                }
            }

            .lang-selector {
                font-size: 16px;
                height: 48px;
                width: 150px;
                position: absolute;
                top: 0;
                right: 0;
                ::ng-deep .mat-form-field-flex {
                    padding-top: 4px;
                }
                ::ng-deep .mat-form-field-infix {
                    padding-bottom: 8px;
                }
            }
            
        }
    
        .body {
            height: calc(100vh - 123px);
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 12px;
                        
            .body-actions {
                display: flex;
                margin-left: 12px;
                max-height: 56px;
                padding-top: 10px;
            
                .actions-std {
                    flex: 0 1 50%;
                }

                .actions-view {
                    margin-left: auto;
                    min-width: 300px;
                    text-align: right;

                    .print-mode-selector {
                        width: auto;
                        margin-top: -20px;
                    }
                }

                button {
                    text-transform: uppercase;
                    margin-left: 12px;
                }
            }

            .row {
                display: flex;                
            }

            .column {
                flex: 1;
                display: flex;                

                .cell {
                    flex: 0 1 40%;
                    line-height: 65px;
                    max-width: 250px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    user-select: none;
                    a {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .cell.title {
                    flex: 0 1 30%;
                }
            }
        }
        
        .body::-webkit-scrollbar {
            width: 6px;
            overflow-y: scroll;
            background: transparent;
        
        }
        
        .body::-webkit-scrollbar-thumb {
            background: var(--mdc-theme-primary, #6200ee);
            border-radius: 10px;
        }        
    }

    .container.hidden {
        display: none;
    }  
    
    
}