<div style="flex: 1; display: flex;">
    <div style="flex: 1; overflow: hidden;">{{instance.rental_unit_id?.name}} <small *ngIf="instance.rental_unit?.is_accomodation">({{instance.rental_unit_id?.capacity}})</small></div>
    <div *ngIf="!assignmentQtyOpen" style="width: 50px; margin-left: auto;" (click)="onclickAssignmentQty()">{{instance.qty}}</div>
    <div *ngIf="assignmentQtyOpen" style="margin-left: auto;">
        <mat-form-field style="max-width: 50px; transform: translateY(-17px);">
            <input type="number" min="1" matInput (blur)="onchangeQty($event)" [formControl]="qtyFormControl">
        </mat-form-field>
    </div>
</div>
<div style="margin-left: auto;">
    <button style="transform: scale(0.75) translateY(-10px);" mat-icon-button (click)="ondelete()">
        <mat-icon>delete</mat-icon>
    </button>
</div>