<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<title>Contrat Kaleo</title>
<style type="text/css">
@page {
  margin: 1cm;
}
body {
    margin: 0;
    padding: 0;
    margin-top: 238px;
    margin-bottom: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: justify;
    width: 100%;
}
div, table, table tr td {
    font-family: Arial, Helvetica, sans-serif;
}
div.header,
div.footer {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
}
div.inner {
    height: auto;    
}
div.trailer {
    position: absolute; 
    left: 0px; 
    top: 515px; 
    margin: 0;
    padding: 0;
    width: 100%;	
    overflow: visible;	
    z-index: 100;
}
div.header {
    top: 0;
    left: 0;
    height: 781px;	
}
div.footer {
    bottom: 0;
    left: 0;
    height: 30px;
    overflow: visible;
    z-index: 200;
    font-size: 0.8em !important;
}
hr {
    page-break-after: always;
    border: 0;
}
</style>
  
</head>

<body>

<div class="header">
    <div style="height: 44px;">
        <img src="http://equal.local/assets/img/invoice_header.png" width="741" height="44" border="0" />
    </div>
    <div style="position: absolute; top: 10px; right: 10px; height: 59px; font-size: 16px;">

        NOM COMPLET ORGANISATION<br />
        Titre, Prenom Nom<br />
        Adresse CP Ville<br />
        TVA
    </div>

    <div style="height: 59px;">
        <!-- spacer -->
    </div>
    <table style="width: 100%; border: solid 1px rgb(15, 167, 167);"  cellpadding="1" cellspacing="0">
        <tr valign="top">
            <td colspan="2" style="font-size: 20px; text-align: center;background-color: rgb(15, 167, 167); width: 100%; height: 20px; border: solid 1px rgb(15, 167, 167); padding-left: 7px; overflow: hidden;">Contrat ID</td>
        </tr>
        <tr valign="top">
            <td style="width: 50%; padding: 5px;">
                <div>
                    <div style="font-weight: 500; display: inline-block; width: 100px;">Votre séjour à </div> <div style="display: inline-block;">test</div>
                </div>
                <div>
                    <div style="font-weight: 500; display: inline-block; width: 100px;">Adresse</div> <div style="display: inline-block;">test</div>
                </div>
                <div>
                    <div style="font-weight: 500; display: inline-block; width: 100px;">Contact</div> <div style="display: inline-block;">test</div>
                </div>
                <div>
                    <div style="font-weight: 500; display: inline-block; width: 100px;">Période</div> <div style="display: inline-block;">test</div>
                </div>
            </td>
            <td style="width: 50%; padding: 5px; background-color: rgb(15, 167, 167); ">
                <div>
                    <div style="font-weight: 500; display: inline-block; width: 100px;">Membre</div> <div style="display: inline-block;">test</div>
                </div>
                <div>
                    <div style="font-weight: 500; display: inline-block; width: 100px;">Tél </div> <div style="display: inline-block;">test</div>
                </div>
                <div>
                    <div style="font-weight: 500; display: inline-block; width: 100px;">email </div> <div style="display: inline-block;">test</div>
                </div>
            </td>
        </tr>
    </table>

    <table style="padding-top: 15px; height: 30px; border: solid 1px black;" width="100%" border="0" cellpadding="4" cellspacing="0">
        <tr>
            <td width="30%" style="padding-left: 7px; font-weight: bold; border-bottom: solid 1px black;">
                Libellé produit
            </td>
            <td width="10%" style="padding-left: 7px; font-weight: bold; border-bottom: solid 1px black; border-left: solid 1px black;">
                Nb pers
            </td>
            <td width="10%" style="padding-left: 7px; font-weight: bold; border-bottom: solid 1px black; border-left: solid 1px black;">
                Durée
            </td>
            <td width="10%" style="font-weight: bold; text-align: right; border-bottom: solid 1px black; border-left: solid 1px black; padding-right: 7px;">
                Qté
            </td>
            <td width="10%" style="font-weight: bold; text-align: right; border-bottom: solid 1px black; border-left: solid 1px black; padding-right: 7px;">
                Prix unit.
            </td>
            <td width="10%" style="font-weight: bold; text-align: right; border-bottom: solid 1px black; border-left: solid 1px black; padding-right: 7px;">
                Rem%
            </td>
            <td width="10%" style="font-weight: bold; text-align: right; border-bottom: solid 1px black; border-left: solid 1px black; padding-right: 7px;">
                TVA
            </td>
            <td width="10%" style="font-weight: bold; text-align: right; border-bottom: solid 1px black; border-left: solid 1px black; padding-right: 7px;">
                Prix
            </td>
        </tr>
        <tr>
            <td style="height: 510px;"></td>
            <td style="height: 510px; border-left: solid 1px black;"></td>
            <td style="height: 510px; border-left: solid 1px black;"></td>
            <td style="height: 510px; border-left: solid 1px black;"></td>
            <td style="height: 510px; border-left: solid 1px black;"></td>
            <td style="height: 510px; border-left: solid 1px black;"></td>
            <td style="height: 510px; border-left: solid 1px black;"></td>
            <td style="height: 510px; border-left: solid 1px black;"></td>                                                
        </tr>		
    </table>	
</div>

<div class="footer">
    <p style="text-align: center;">
        Kaleo ASBL - 4 Rue Van Orley 1000 Bruxelles - +32 2 209 03 00<br />
        Mail: info@kaleo-asbl.be - Web: https://kaleo-asbl.be 
    </p>
</div>


<div class="inner">
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
        <!-- for each line -->
            <tr valign="top">
                <td width="8%" style="padding-left: 7px;">
                    <var id="our_ref"></var>
                </td>
                <td width="68%" style="padding-left: 7px;">
                    <var id="invoice_text"></var>
                </td>
                <td width="10%" style="padding-left: 7px;">
                    <var id="client_ref"></var>
                </td>
                <td width="14%" style="padding-right: 7px; text-align: right;">
                    <var id="price" format="currency"></var>
                </td>
            </tr>
        
    </table>
</div>

<div class="trailer">
    <table width="100%" style="border: solid 1px transparent; border-top: solid 1px black; border-right: solid 1px black;" cellpadding="4" cellspacing="0">
        <tr valign="top">
            <td width="90%" style="text-align: right; padding-right: 10px;">
                MONTANT TOTAL
            </td>
            <td width="10%" style="text-align: right; padding-right: 7px; border-left: solid 1px black; border-bottom: solid 1px black;">
                <var id="amount" format="currency"></var>
            </td>						
        </tr>
        <tr>
            <td style="text-align: right; padding-right: 10px;">
                TVA
            </td>
            <td style="text-align: right; padding-right: 7px; border-left: solid 1px black; border-bottom: solid 1px black;">
                <var id="vat" format="currency"></var>
            </td>
            
        </tr>
        <tr>
            <td style="text-align: right; padding-right: 10px;">
                TOTAL DU SÉJOUR TTC
            </td>
            <td style="text-align: right; padding-right: 7px; border-left: solid 1px black; border-bottom: solid 1px black;">
                <var id="total" format="currency"></var>
            </td>			
        </tr>
    </table>	
</div>

</body>
</html>