<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<title>Planning des arrivées</title>
<style type="text/css">
@page {
  margin: 1cm;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: justify;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 21px;
}

h2 {
    margin: 0;
    font-size: 18px;
}

h3 {
    margin: 0;
    font-size: 15px;
}

table {
    width: 100%;
}

table tr td, table tr th {
    text-align: left;;
}

div, table, table tr td {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 0;
    margin: 10px 0;
}

.highlight {
    padding: 5px;
    background-color: rgb(221, 221, 221);
}
blockquote {
    font-style: italic;
    margin-left: 0;
    padding-left: 10px;
    border-left: solid 2px lightgrey;
}
</style>

</head>

<body>

    <table >
        <tr>
            <td style="width: 50%;"><h1>{{center.center_office_id.name}}</h1></td>
            <td style="text-align: right;">{{date|date("d/m/Y H:i:s")}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="width: 50%;"><h2>Centre: {{center.name}}</h2></td>
            <td style="width: 50%;text-align: right;"><h2>Arrivées du {{from|date("d/m/Y")}} au {{to|date("d/m/Y")}}</h2></td>
        </tr>
    </table>

    {% for booking in bookings %}
    <div style="border-bottom: solid 2px black; margin-bottom: 20px; padding: 0 10px 10px 20px;">
        <table style="border: solid 1px black;">
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <td style="width: 75%;">
                                <div><h3>Réservation <span class="highlight">{{booking.name}}</h2></div>
                                <div><h3>Client {{booking.member}} - <span class="highlight">{{booking.customer.name}}</span></h3></div>
                            </td>
                            <td style="text-align: right; vertical-align: top;">TOTAL:&nbsp; {{booking.price | format_currency('EUR')}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <table>
                        <tr>
                            <td style="width: 50px;">Arrivée</td>
                            <td><span class="highlight">{{booking.from}}</span></td>
                        </tr>
                        <tr>
                            <td>Départ</td>
                            <td><span class="highlight">{{booking.to}}</span></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 50%; text-align: right;">
                    <table>
                        <tr>
                            <td>
                                <div>Acompte payé au {{date|date("d/m/Y")}}:</div>
                                <div>Acompte restant dû:</div>
                            </td>
                            <td style="text-align: right;">
                                <div>{{booking.paid_amount | format_currency('EUR')}}</div>
                                <div><b>{{booking.due_amount | format_currency('EUR')}}</b></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th style="width:50%"># Contacts</th>
                <th style="width:25%"></th>
                <th style="width:25%"></th>
            </tr>
        {% for contact in booking.contacts %}
            <tr>
                <td style="padding-left: 20px;"><b>Nom:</b> {{contact.name}}</td>
                <td><b>Tél:</b> {{contact.phone}}</td>
                <td><b>Email:</b> {{contact.email}}</td>
            </tr>
        {% endfor %}
        </table>
        <div><b># Commentaires</b></div>
        <div style="padding: 0 20px; width: 100%; margin-bottom: 10px;">
            {% if booking.description | length > 0 %}
                {{booking.description | raw}}
            {% else %}
                <span>&nbsp;/</span>
            {% endif %}
        </div>
        <div><b># Séjour(s)</b></div>
        <table>
            {% for sojourn in booking.sojourns %}
            <tr>
                <td style="padding-left: 20px; width: 33%;">{{sojourn.name}}</td>
                <td style="width: 30px;">{{sojourn.nb_pers}} p.</td>
                <td>du {{sojourn.date_from |date("d/m/Y")}} au {{sojourn.date_to|date("d/m/Y")}}</td>
                <td>
                    {% for rental_unit in sojourn.rental_units %}
                        {{rental_unit.name}}<small>({{rental_unit.qty}})</small>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</body>
</html>