<span style="flex: 0 1 50%; text-transform: capitalize;"><span
        *ngIf="instance.discount_id.name">{{instance.discount_id.name}}</span><span
        *ngIf="!instance.discount_id.name">Garanti </span>: </span>
<span style="margin-left: auto;" *ngIf="instance.type == 'amount'">{{instance.value | number: '1.2-2'}} €</span>
<span style="margin-left: auto;" *ngIf="instance.type == 'percent'">{{instance.value | percent}}</span>
<span style="margin-left: auto;" *ngIf="instance.type == 'freebie'">{{instance.value}} u.</span>