:host {
    width: 100%;
    height: 100%;

    .hidden {
        visibility: hidden;
    }

    .part {
        display: flex;

        .part-toggle {
            flex: 0 1;
            display: inline-block;
            vertical-align: top;
            padding: 5px 0px 0px 20px;
        }

        .part-container {
            flex: 1;
            display: inline-block;
            width: 100%;
            min-height: 45px;

            .row {
                width: 100%;
                display: flex;
                padding: 5px 0;
                flex: 1;

                .row-products-title {
                    flex: 1 1 auto;
                    height: 40px;
                    line-height: 40px;
                }

                .cell:not(:first-child) {
                    margin-left: 40px;
                }

                &.row-lists {
                    display: flex;
                    width: calc(100% - 20px);
                    max-height: 250px;
                    min-height: 200px;
                    justify-content: space-between;
                    padding: 0;

                    .actions {
                        display: flex;
                        margin: 0 20px;
                        flex-direction: column;
                        justify-content: space-around;
                        button {
                            display: block;
                        }
                    }
                    .list {
                        background-color: white;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            width: 6px;
                            overflow-y: auto;
                            background: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: var(--mdc-theme-primary, #6200ee);
                            border-radius: 10px;
                        }
                        .rentalunit-line {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            padding: 0px 5px;
                            &.selected {
                                background-color: lightgrey;
                            }
                        }
                    }
                }
            }
        }
    }
}

.drag-preview {
    padding-left: 20px;

    .drag-preview-inner {
        background: var(--mdc-theme-secondary);
        color: white;
        font-weight: bold;
        padding: 3px 5px 2px 5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
    }
}