<div #vGroup="var" [var]="{rental_units: {folded: false}}"></div>

<div class="part">

    <div class="part-toggle">
        <button mat-icon-button *ngIf="!vGroup.rental_units.folded" (click)="vGroup.rental_units.folded = !vGroup.rental_units.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
        </button>
        <button mat-icon-button *ngIf="vGroup.rental_units.folded" (click)="vGroup.rental_units.folded = !vGroup.rental_units.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
        </button>
    </div>

    <div class="part-container" *ngIf="vGroup.rental_units.folded">
        <div class="row">
            <div class="row-products-title">{{instance.product_model_id?.name}} : <b>{{instance.qty}} p.</b>
                <!-- <button mat-mini-fab color="primary" style="transform: scale(0.65);" (click)="oncreateAssignment()"><mat-icon>add</mat-icon></button> -->
            </div>
        </div>
    </div>

    <div class="part-container" *ngIf="!vGroup.rental_units.folded">
        <div class="row">
            <div class="row-products-title" style="display: flex;">
                <div style="flex: 1;">{{instance.product_model_id?.name}}</div>
                <div style="margin-left: auto; margin-right: 20px;"><b>Total: {{instance.qty}} p.</b></div>
            </div>
        </div>


        <div class="row row-lists" cdkDropListGroup style="display: flex; width: calc(100% - 20px); height: 200px; justify-content: space-between;">

            <!-- left pane : list of available rental units for current product model -->
            <div class="list" cdkDropList cdkDropListSortingDisabled style="flex: 0 1 calc(50% - 10px); border: solid 1px darkgrey;" >
                <div *ngFor="let unit of rentalunits"
                        class="rentalunit-line line-choice"
                        [class.selected]="selectedRentalUnits.indexOf(unit.id) > -1"
                        cdkDrag
                        [cdkDragData]="unit">

                    <div class="drag-preview" *cdkDragPreview>
                        <div class="drag-preview-inner">{{ selectedRentalUnits.length > 0 ? selectedRentalUnits.length : 1 }}</div>
                    </div>

                    <div>
                        <mat-checkbox
                            [checked]="selectedRentalUnits.indexOf(unit.id) > -1"
                            (change)="leftSelectRentalUnit($event.checked, unit.id)">
                        </mat-checkbox>
                    </div>
                    <div style="padding: 0 5px;" (mousedown)="leftSelectRentalUnit(true, unit.id)">{{unit.name}} <small>({{unit.capacity}})</small></div>
                </div>
            </div>
            <!-- action area -->
            <div class="actions">
                <button mat-mini-fab color="accent" (click)="addSelection()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <button mat-mini-fab color="accent" (click)="addAll()">
                    <mat-icon>keyboard_double_arrow_right</mat-icon>
                </button>
            </div>
            <!-- right pane -->
            <div class="list" cdkDropList (cdkDropListDropped)="addSelection()" style="flex: 0 1 calc(50% - 10px); border: solid 1px darkgrey;">
                <div *ngFor="let assignment of instance.rental_unit_assignments_ids"
                        class="rentalunit-line line-assignment">
                    <booking-services-booking-group-accomodation-assignment
                        [model]="assignment"
                        [accomodation]="instance"
                        [booking]="booking"
                        [group]="group"
                        (updated)="onupdateAssignement(assignment.id)"
                        (deleted)="ondeleteAssignment(assignment.id)"
                    ></booking-services-booking-group-accomodation-assignment>
                </div>
            </div>

        </div>

    </div>

</div>