<h3 style="display: flex; justify-content: center; border-bottom: solid 1px lightgrey; margin-bottom: 0;" mat-dialog-title>Légende</h3>
<div mat-dialog-content style=" margin: 6px;">
    <div style="display:grid; grid-template-columns: repeat(1, 200px 300px); row-gap: 10px; align-items: center;">
        <div class="dialog-info" style="background-color: #C80651;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 20%;">bloqué</div>
                <div style="margin-left: auto">
                    <span class="material-icons" style="transform: scale(0.6); font-size: 20px;">block</span>
                </div>
            </div>
        </div>

        <div>
            <span style="font-weight: bold; font-size: 15px;">Hors service</span>
            <br>
            <span style="font-weight: light; font-size: 14px;">Unité bloquée manuellement.</span>
        </div>
        <div class="dialog-info" style="background-color: #0288d1;">
        <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 20%;">111111</div>
                <div style="margin-left: auto">
                    <span class="material-icons" style="transform: scale(0.6); font-size: 20px;">question_mark</span>
                </div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;"> Johnny Knoxville</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">En option</span>
                <br>
            <span style="font-weight: light; font-size: 14px;">(Toujours avec ?)</span>
        </div>
        <div class="dialog-info" style="background-color: #ff9633;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 20%;">111111</div>
                <div style="margin-left: auto">
                    <span class="material-icons" style="transform: scale(0.6); font-size: 20px;">attach_money</span>
                </div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;"> Albert Dupontel</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Confirmée</span><br />
            <span style="font-weight: light; font-size: 14px;">($ : Paiement reçu, <span style="text-decoration: line-through;">$</span> : paiement en attente)</span>
        </div>
        <div class="dialog-info" style="background-color: #0FA200;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 20%;">111111</div>
                <div style="margin-left: auto">
                    <span class="material-icons" style="transform: scale(0.6); font-size: 20px;">check</span>
                </div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;"> Michael Moore</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Validée</span><br>
            <span style="font-weight: light; font-size: 14px;">(Toujours avec ✓)</span>
        </div>
        <div class="dialog-info" style="background-color: #0fc4a7;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 20%;">111111</div>
                <div style="margin-left: auto">
                    <span class="material-icons" style="transform: scale(0.6); font-size: 20px;">check</span>
                </div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;">Christopher Lloyd</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">En cours d'occupation</span><br />
            <span style="font-weight: light; font-size: 14px;">Le client occupe l'unité locative.</span>
        </div>
        <div class="dialog-info" style="background-color: #988a7d;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 20%;">111111</div>
                <div style="margin-left: auto">
                    <span class="material-icons" style="transform: scale(0.6); font-size: 20px;">check</span>
                </div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;">Alain Chabat</div>
            </div>
        </div>
        <div>
            <span style="font-weight: bold; font-size: 15px;">Terminée</span><br />
            <span style="font-weight: light; font-size: 14px;">Le client a quitté l'unité locative.</span>
        </div>
        <div class="dialog-info" style="border: solid 1px lightgrey; color: lightgrey;">
            <div style="display: flex; box-sizing: border-box;">
                <div style="flex: 0 1 20%;">111111</div>
                <div style="margin-left: auto">
                    <span class="material-icons" style="transform: scale(0.6); font-size: 20px;">check</span>
                </div>
            </div>
            <div>
                <div style="flex: 0 1 20%; margin-top: -4px;">Michel Blanc</div>
            </div>
        </div>
        <div>
            <span style="font-size: 15px;"><b>(Couleur transparente)</b></span><br />
            <span style="font-weight: light; font-size: 14px;">Unité enfant: l'unité parente est louée.<br />Unité parente: au moins 1 unité enfant est louée.</span>
        </div>
    </div>
</div>
<div mat-dialog-actions style="justify-content: flex-end; border-top: solid 1px lightgrey;">
    <button  mat-raised-button color="primary" style="float: right;" (click)="onClose()">FERMER</button>
</div>