    :host {

    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .container {
        height: 100%;
        width: 100%;

        &.hidden {
            display: none;
        }

        .booking-header {
            width: 100%;
            padding-left: 12px;
            height: 48px;
            line-height: 48px;
            border-bottom: solid 1px lightgrey;
            font-size: 22px;
        }
    
        .booking-body {
            height: calc(100vh - 123px);
            width: 100%;
            overflow-y: scroll;
            padding: 12px;
            
            .body-actions {
                .file-input {
                    display: none;
                }
                button {
                    text-transform: uppercase;
                    margin-left: 12px;
                }
        
            }
        }
    
        .booking-body::-webkit-scrollbar {
            width: 6px;
            overflow-y: scroll;
            background: transparent;
        
        }
        
        .booking-body::-webkit-scrollbar-thumb {
            background: var(--mdc-theme-primary, #6200ee);
            border-radius: 10px;
        }        
    } 

    .overlay-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: white;

        mat-spinner {
            position: absolute;
            left: calc(50% - 50px);
            top: 33%;
        }
    }    
    
}