<!-- template vars -->
<div #vProduct="var"
    [var]="{identification: {folded: true}, discounts: {folded: !instance.manual_discounts_ids.length}, variations: {folded: true}, adapters: {folded: true}, unit_price: {folded: true}, vat_rate: {folded: true}}">
</div>


<!-- identification-->
<div class="part" [class.hidden]="!ready">


    <div class="part-toggle" [class.hidden]="group.is_locked">
        <button mat-icon-button *ngIf="!vProduct.identification.folded"
            (click)="vProduct.identification.folded = !vProduct.identification.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
        </button>
        <button mat-icon-button *ngIf="vProduct.identification.folded"
            (click)="vProduct.identification.folded = !vProduct.identification.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
        </button>
    </div>

    <div class="part-container">

        <!-- 1) product summary -->
        <div class="row row-first">

            <!-- product -->
            <div class="cell">

                <mat-form-field>
                    <mat-label>Produit</mat-label>

                    <input *ngIf="!group.is_locked" matInput type="text" [matAutocomplete]="productAutocomplete"
                        [value]="vm.product.name" (keyup)="vm.product.inputChange($event)" (focus)="vm.product.focus()"
                        (blur)="vm.product.restore()" placeholder="Commencez à taper le nom" />

                    <input *ngIf="group.is_locked" matInput disabled type="text" [value]="vm.product.name" />

                    <mat-icon *ngIf="instance.is_accomodation" matSuffix style="vertical-align: sub;">hotel</mat-icon>
                    <mat-icon *ngIf="instance.is_meal" matSuffix style="vertical-align: sub;">restaurant</mat-icon>
                    <mat-hint></mat-hint>
                    <mat-hint [align]="'end'">
                        <span *ngIf="instance.qty_accounting_method == 'accomodation'">au logement</span>
                        <span *ngIf="instance.qty_accounting_method == 'person'">à la personne</span>
                        <span *ngIf="instance.qty_accounting_method == 'unit'">à l'unité</span>
                    </mat-hint>

                    <button mat-button *ngIf="vm.product.name?.length && !group.is_locked" matSuffix mat-icon-button
                        aria-label="Clear" (click)="vm.product.reset()">
                        <mat-icon>close</mat-icon>
                    </button>

                    <mat-autocomplete #productAutocomplete="matAutocomplete" [displayWith]="vm.product.display"
                        (optionSelected)="onchangeProduct($event)">
                        <div *ngIf="vm.product.filteredList | async; let products_list">
                            <mat-option *ngFor="let product of products_list" [value]="product">
                                {{product.name}}
                            </mat-option>
                            <mat-option *ngIf="products_list.length == 0"><i>pas de résultat</i></mat-option>
                        </div>
                    </mat-autocomplete>
                </mat-form-field>

            </div>


            <!-- qty -->
            <div class="cell cell-right" [class.cell-text]="group.is_locked">
                <span *ngIf="group.is_locked">{{instance.qty}}</span>
                <mat-form-field *ngIf="!group.is_locked">
                    <mat-label>Quantité</mat-label>
                    <input type="number" min="1" matInput (blur)="vm.qty.change()" [formControl]="vm.qty.formControl">
                    <mat-error *ngIf="vm.qty.formControl.hasError('required')">
                        Ne peut être vide.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Freebies -->
            <div class="cell cell-text cell-right">
                <span *ngIf="!group.is_locked">{{instance.free_qty}}</span>
            </div>

            <!-- Unit Price -->
            <div class="cell cell-right" [class.cell-text]="vProduct.unit_price.folded"
                (clickOut)="vProduct.unit_price.folded = true">
                <span [hidden]="!vProduct.unit_price.folded || group.is_locked"
                    (click)="vProduct.unit_price.folded = false">{{instance.unit_price | number: '1.2-2'}} €</span>
                <mat-form-field [hidden]="vProduct.unit_price.folded">
                    <mat-label>Prix unitaire</mat-label>
                    <input #unitPriceInput type="number" matInput
                        (blur)="onchangeUnitPrice(); vProduct.unit_price.folded = true"
                        [formControl]="vm.unit_price.formControl">
                </mat-form-field>
            </div>

            <!-- Discount -->
            <div class="cell cell-text cell-right">
                <span *ngIf="!group.is_locked">{{instance.discount | percent}}</span>
            </div>

            <!-- Tax -->
            <div class="cell cell-right" [class.cell-text]="vProduct.vat_rate.folded"
                (clickOut)="vProduct.vat_rate.folded = true">
                <span [hidden]="!vProduct.vat_rate.folded || group.is_locked"
                    (click)="vProduct.vat_rate.folded = false">{{instance.vat_rate | percent}}</span>
                <mat-form-field [hidden]="vProduct.vat_rate.folded">
                    <mat-label>Taux TVA</mat-label>
                    <input #vatRateInput type="number" matInput
                        (blur)="vm.vat.change(); vProduct.vat_rate.folded = true" [formControl]="vm.vat.formControl">
                </mat-form-field>
            </div>

            <!-- Total Price -->
            <div class="cell cell-text cell-right">
                <span *ngIf="!group.is_locked">{{instance.price | number : '1.2-2'}} €</span>
            </div>

            <!-- actions (empty: set in parent component) -->
            <div class="cell cell-actions"></div>

        </div>

        <div class="row row-first" *ngIf="!vProduct.identification.folded" style="margin-top: -10px;">
            <div class="part cell" [class.hidden]="!ready">
                <mat-form-field >
                    <mat-label>Description</mat-label>
                    <input #unitPriceInput type="text" matInput [formControl]="vm.description.formControl" (blur)="vm.description.change()">
                    <mat-hint>Texte de remplacement (facultatif)</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <!-- 2) quantity variations -->
        <div class="row row-first"
            *ngIf="!vProduct.identification.folded && !group.is_locked && instance.qty_accounting_method == 'person'">
            <div class="part cell" [class.hidden]="!ready">
                <div class="part-toggle">
                    <button mat-icon-button *ngIf="!vProduct.variations.folded"
                        (click)="vProduct.variations.folded = !vProduct.variations.folded">
                        <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="vProduct.variations.folded"
                        (click)="vProduct.variations.folded = !vProduct.variations.folded">
                        <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <div class="part-container">
                    <div class="row row-title row-thin">
                        <span>
                            Variations des quantités
                            <button *ngIf="!vProduct.variations.folded" mat-mini-fab color="primary"
                                style="transform: scale(0.66);"
                                (click)="vm.qty_vars.reset(); vProduct.variations.folded = true"
                                title="Réinitialiser">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </div>
                    <!-- variation details -->
                    <div class="row row-thin" *ngIf="!vProduct.variations.folded">
                        <div style="width: 100%;">
                            <div *ngFor="let delta of vm.qty_vars.values | keyvalue; let index = index;"
                                style="display: flex; align-items: center; height: 38px;">
                                <div style="flex: 0 1 35%; display: flex;">
                                    <span style="text-decoration: underline"> Jour {{index + 1 + instance.product_id?.product_model_id?.schedule_offset}}</span>
                                    <span style="margin-left: 12px; width: 100px;">({{getOffsetDate(index + instance.product_id?.product_model_id?.schedule_offset) | date : 'EEE d LLL'}})</span>
                                </div>
                                <div style="width: 65px; margin-left: 24px;">
                                    <mat-form-field>
                                        <input style="text-align: right;" matInput type="number" min="0"
                                            [value]="calcQtyVar(index)"
                                            (blur)="vm.qty_vars.change(index, $event)">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3) auto-discounts (price adapters) -->
        <div class="row row-first" *ngIf="!vProduct.identification.folded && !group.is_locked && instance.auto_discounts_ids.length">
            <div class="part cell" [class.hidden]="!ready">
                <div class="part-toggle">
                    <button mat-icon-button *ngIf="!vProduct.adapters.folded"
                        (click)="vProduct.adapters.folded = !vProduct.adapters.folded">
                        <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="vProduct.adapters.folded"
                        (click)="vProduct.adapters.folded = !vProduct.adapters.folded">
                        <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <div class="part-container">
                    <div class="row row-title row-thin" style="display: flex;">
                        <div>Avantage ({{ (instance.fare_benefit/(instance.fare_benefit+instance.price)) | percent}}):&nbsp;<span>{{ instance.fare_benefit | number: '1.2-2'}} € </span></div>
                        <div style="margin-left: auto;" *ngIf="!vProduct.adapters.folded">
                            <small>
                                {{instance.auto_discounts_ids[0].discount_list_id.name}} (min:{{instance.auto_discounts_ids[0].discount_list_id.rate_min | percent}}
                                max:{{instance.auto_discounts_ids[0].discount_list_id.rate_max | percent}})
                            </small>
                        </div>
                    </div>
                    <!-- price adapters details -->
                    <div class="row row-thin" *ngIf="!vProduct.adapters.folded">
                        <div style="width: 100%;">
                            <div *ngFor="let adapter of instance.auto_discounts_ids; let index = index;" style="display: flex;">
                                <booking-services-booking-group-line-priceadapter
                                    [model]="adapter"
                                    [parent]="instance">
                                </booking-services-booking-group-line-priceadapter>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4) manual discounts -->
        <div class="row row-first" *ngIf="!vProduct.identification.folded && !group.is_locked">
            <div class="part cell" [class.hidden]="!ready">
                <div class="part-toggle">
                    <button mat-icon-button *ngIf="!vProduct.discounts.folded"
                        (click)="vProduct.discounts.folded = !vProduct.discounts.folded">
                        <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="vProduct.discounts.folded"
                        (click)="vProduct.discounts.folded = !vProduct.discounts.folded">
                        <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                <div class="part-container">
                    <div class="row row-title row-thin">
                        <span>
                            Réductions
                            <button mat-mini-fab color="primary" style="transform: scale(0.66);"
                                (click)="oncreateDiscount(); vProduct.discounts.folded = false"
                                title="Ajouter une réduction">
                                <mat-icon>add</mat-icon>
                            </button>
                        </span>
                    </div>
                    <!-- manual discounts details -->
                    <div class="row row-thin" *ngIf="!vProduct.discounts.folded">

                        <div class="discounts-list">
                            <!-- discounts -->
                            <div class="discount-item" *ngFor="let discount of instance.manual_discounts_ids; let index = index;">
                                <div class="discount-remove">
                                    <button mat-icon-button (click)="ondeleteDiscount(discount.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button></div>
                                    <booking-services-booking-group-line-discount
                                        [model]="discount"
                                        [parent]="instance"
                                        (updated)="onupdateDiscount(discount.id)"
                                        (deleted)="ondeleteDiscount(discount.id)">
                                    </booking-services-booking-group-line-discount>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
