<var id="subject" title="Help2Protect eLearning - Satisfaction Survey"></var>
<p style="font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size: 14px;">
    Dear Course Participant,<br />
    <br />
    <br />
    First of all, many thanks for having purchased the Help2Protect eLearning product.<br />
    Since we are continuously improving our course content and the way it is presented on our eLearning portal, we would be very grateful if you could give us your feedback by answering the <var id="survey_url" title="Satisfaction Survey"></var> on our Help2Protect website.<br />
    <br />
    For this to work smoothly, you need to be logged into your Help2Protect account to access the Satisfaction Survey.<br />
    <br />
    Thank you for helping us to get better in helping to protect others.<br />
    <br />
    Thank you for your feedback and your time.<br />
    <br />
    The Help2Protect team.<br />
    <br />
    <br />
    <span style="font-size: 12px;">
    This is an automated message sent from <var id="origin"></var>.<br />
    If you did not subscribe to our services, you can safely ignore it.<br />
    In case of repeated non-sollicited messages, thank you for letting us know at <var id="abuse"></var><br />
    <br /><br />
    <b>help2protect.info - Help2Protect SRL</b><br />
    Terms: <a href="https://www.help2protect.info/terms">https://www.help2protect.info/terms</a><br />
    Privacy  policy: <a href="https://www.help2protect.info/privacy">https://www.help2protect.info/privacy</a>
    </span>
</p>