<ng-container *ngIf="lessons">
    <div class="course-module-lesson-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div
            cdkDrag
            *ngFor="let lesson of lessons; trackBy: trackLessonById"
            class="course-module-lesson-list-item"
            (click)="navigateToLesson(lesson.id)">
            <div class="drag">
                <mat-icon class="icon">drag_indicator</mat-icon>
            </div>
            <div class="content">
                <h4 class="title">{{ lesson.title }}</h4>
            </div>
        </div>
    </div>
</ng-container>
