:host {

    width: 100%;
    height: 100%;

    .hidden {
        display: none !important;
    }

    .overlay-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.2);

        mat-spinner {
            position: absolute;
            left: calc(50% - 50px);
            top: 33%;
        }
    }

    .container {
        display: flex;
        height: 100%;
        width: 100%;
        user-select: none;

        ::ng-deep.mat-icon-button:hover .mat-button-focus-overlay {
            opacity: 0.1 !important;
        }

        .outer-wrapper {
            .header {
                display: flex;
                width: 100%;
                height: 40px;
            }

            .inner-wrapper {
                border: solid 1px lightgrey;
                margin-bottom: 12px;

                .group-item {
                    position: relative;
                    display: flex;
                    margin: 6px 12px;
                    padding-bottom: 6px;
                    background-color: rgba(0, 0, 0, 0.04);
                    max-height: 46px;
                    overflow: hidden;

                    &.group-selected {
                        max-height: 2000px;
                        transition: max-height .5s ease-in;
                    }

                    .group-handle {
                        flex: 0 0 30px;
                        width: 30px;
                        transform: translateX(4px) translateY(14px);
                    }

                    .group-remove {
                        position: absolute;
                        right: 50px;
                        transform: translateY(3px);
                    }
                }
            }
        }
    }

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: lightgrey !important;

  .group-handle {
    display: none;
  }

  .group-remove {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}