:host {

    width: 100%;
    height: 100%;

    overflow: hidden;
    box-sizing: border-box;

    .container {
        height: 100%;
        width: 100%;

        .planning-header {
            display: flex;
            width: 100%;
            padding-left: 12px;
            height: 48px;
            line-height: 48px;
            border-bottom: solid 1px lightgrey;
            font-size: 22px;
            align-items: center;
        }

        .planning-body {
            /* we need a background for fullscreen mode */
            background-color: white;
            height: calc(100vh - 123px);
            width: 100%;
            overflow: hidden;

            .calendar-wrapper {
                height: 100%;
                &.hidden {
                    display: none;
                }
            }

        }

        .planning-body.fullscreen {
            height: 100vh;
        }

    }

    .hidden {
        display: none;
    }

}