:host-context(tr.rows:not(:hover)) .background {
    display: none;
}

:host-context(tr.rows:hover) .background {
    display: block;
}

:host {

    .reservedBox {
        position: relative;
        height: var(--height);

        .background {
            position: absolute;
            font-size: 12px;
            height: 100%;
            width: 100%;
            line-height: var(--height);
        }

        .background.invert {
            color: white;
        }

    }

    .booking-details {
        position: absolute;
        width: var(--width);
        height: 100%;
        left: var(--offset);
        top: 0;
        font-size: 12px;
        color: white;
        z-index: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        user-select: none;
        cursor: pointer;
        padding: 0 2px;
        border-radius: 5px;

        &.not-first {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        &.part {
            opacity: 0.5;
        }

        div {
            text-align: left;
        }

        .material-icons {
            font-size: 12px;
        }
    }

}
