:host {

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .overlay-container {
        position: relative;
        height: 100vh;
        width: 100%;

        mat-spinner {
            position: absolute;
            top: 25%;
            left: calc(50% - 50px);
        }
    }

    .container {
        height: 100%;
        width: 100%;

        &.hidden {
            display: none;
        }

        .booking-header {
            width: 100%;
            padding-left: 12px;
            height: 48px;
            line-height: 48px;
            border-bottom: solid 1px lightgrey;
            font-size: 24px;

            a {
                color: var(--mdc-theme-primary);
                text-decoration: none;
            }
        }

        .booking-body {
            height: calc(100vh - 123px);
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0 12px;

            ::ng-deep mat-tab-group .mat-tab-header  {
                margin-bottom: 20px;
            }
        }

        .booking-body::-webkit-scrollbar {
            width: 6px;
            overflow-y: scroll;
            background: transparent;

        }

        .booking-body::-webkit-scrollbar-thumb {
            background: var(--mdc-theme-primary, #6200ee);
            border-radius: 10px;
        }
    }

    .inner-wrapper {
        border: solid 1px lightgrey;
    }

    .group-item {
        position: relative;
        margin: 12px;
        padding-bottom: 12px;
        background-color: rgba(0, 0, 0, 0.04);

        .group-handle {
            position: absolute;
            top: 20px;
            left: 5px;
            z-index: 3;
        }

        .group-remove {
            position: absolute;
            right: 10px;
            top: 10px;
        }

    }

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: lightgrey !important;

  .group-handle {
    display: none;
  }

  .group-remove {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}