<div class="overlay-container" *ngIf="!ready"><mat-spinner></mat-spinner></div>
<div class="container" [class.hidden]="!ready">
    <div class="booking-header"><a href="#/bookings">Réservations</a><span> › </span> <a href="#/booking/{{booking.id}}">Réservation <small>[{{booking.name}} - {{booking.id}}]</small></a> <span> › </span> Services réservés</div>
    <div class="booking-body">

        <div style="height: 46px; margin-top: 10px;display: flex;">
            <div style="flex: 0 1 50%;"><!-- left actions --></div>
            <div style="margin-left: auto;">
                <span style="line-height: 46px; margin-right: 12px;">Statut : <strong>{{status[booking.status]}}</strong></span>
            </div>
            <div #actionButtonContainer></div>
        </div>

        <div>
            <booking-services-booking [booking_id]="booking_id"></booking-services-booking>
        </div>

    </div>
</div>