<div class="top-bar">
    <div class="brand">
        <img [src]="appInfo.backend_url + appInfo.app_logo_url" alt="" />
    </div>

    <div class="informations" [style.align-items]="!currentLesson || !currentModule ? 'flex-start' : ''">
        <div class="course">
            <div class="font-size-3 name">{{ course.title }}</div>

            <div class="breadcrumb" *ngIf="currentModule && currentLesson">
                <!-- Module -->
                <div class="part">
                    <span class="font-size-0 label">{{ currentModule.title }}</span>
                    <span class="font-size--3 progress">{{ currentModuleProgress }}</span>
                </div>

                <!-- Chapter -->
                <div class="part">
                    <span class="font-size-0 label">{{ currentLesson.title }}</span>
                    <span class="font-size--3 progress">{{ currentLessonProgress }}</span>
                </div>
            </div>
        </div>

        <div class="progression" *ngIf="currentTotalCourseProgress">
            <div class="chart">
                <mat-progress-spinner [diameter]="75" class="background" [mode]="'determinate'" [value]="100">
                </mat-progress-spinner>
                <mat-progress-spinner
                    [diameter]="75"
                    [color]="'primary'"
                    [mode]="'determinate'"
                    [value]="currentTotalCourseProgress.currentPourcentage">
                </mat-progress-spinner>
                <span class="font-size-2 percentage">{{
                    currentTotalCourseProgress.currentPourcentage
                        ? currentTotalCourseProgress.currentPourcentage + '%'
                        : ''
                }}</span>
            </div>

            <div class="text">
                <span class="font-size-0 title">Progression</span>
                <span class="font-size--1 details">
                    {{ currentTotalCourseProgress.current + ' / ' + currentTotalCourseProgress.total }}
                </span>
            </div>
        </div>
    </div>

    <div class="profile">
        <img src="https://placehold.co/50x50/?text=A" alt="" />
    </div>
</div>
